.main {
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.social-icons {
    transform: scale(1.5);
}
// END demo



.social-icons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    //transform: scale(2);
}
.social-icon {
    opacity: 0;
    transition: opacity .3s;

    svg {
        overflow: visible !important;
    }

    .si-circle {
        //fill: #616161;
    }

    .si-splash,
    .si-grid{
        display: none;
        visibility:hidden;
    }
    .si-icon {
        transform-origin: "center center";
    }

}
